<section class="two-way-binding">
  <article>
    <h3>Two-way data binding</h3>
    <div>
      <input
      #inputNome
      [value]="nome"
      (input)="nome = inputNome.value"
      type="text">

      <input [ngModel]="nome"
      (ngModelChange)="nome = $event.target.value">

      <input [(ngModel)]="nome">

      <p>Você digitou: {{ nome }}</p>
    </div>


    <div>
      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">
      <p>Você digitou: {{ pessoa.nome }}</p>
      <p>Você digitou: {{ pessoa.idade }}</p>
    </div>
  </article>
</section>
