<h2>Control flow</h2>
<h3>IF FOR, SWITCH CASE</h3>
<!-- Forma Nova -->
@switch (switchConsition) {
    @case('A'){
        <p>Sim sua letra é: A</p>
    }
    @case ('B') {
        <p>Sim sua letra é: B</p>
    }

    @default {
        <p>Os dados não foram encontrados</p>
    }
}

<!-- <ul>
    @for(item of itens; track item.name){
        <li>{{ item.name}}</li>
    }@empty {
        <li>Não contém valres</li>
    }
</ul> -->


<!-- @if (isTrue){
<p>Rodrigo</p>
<p>Maria</p>
} @else if(1===1) {
    1 e === 1
} @else {
    Não está correto
} -->

<!-- @if(loadingData$ | async; as data){
    <ul>
        @for(item of data; track item){
            <li>{{item}} - Teste</li>
        }
    </ul>
} @else {
    <p>Carregando...</p>
}

@for(item of loadingData$ | async; track item){
    <li>{{item}}</li>
} -->

<!-- @for(
    item of itens; track item.name;
    let i = $index;
    let c = $count;
    let f = $first;
    let l = $last;
    let e = $even;
    let o = $odd;
){
    <p>{{ item.name }}</p>
    <p>index - {{ i }}</p>
    <p>count - {{ c }}</p>
    <p>first - {{ f }}</p>
    <p>last - {{ l }}</p>
    <p>even - {{ e }}</p>
    <p>odd - {{ o }}</p>
} -->


<hr/>

<!-- Forma Antiga -->
<!-- <ng-container *ngIf="isTrue; else isFalse">
    <p>Rodrigo</p>
    <p>Maria</p>
</ng-container>
<ng-template #isFalse>Não está correto</ng-template> -->

<!-- <ng-container *ngIf="loadingData$ | async as data; else loading">
   <ul>
    <ng-container *ngFor="let item of data; trackBy: trackByFn">
        <li>{{ item }}</li>
    </ng-container>
   </ul>
</ng-container>
<ng-template #loading><p>Corregando...</p></ng-template> -->


<!-- <ng-container 
    *ngFor="
    let item of itens;
    let i = index;
    let c = count;
    let f = first;
    let l = last;
    let e = even;
    let o = odd;
    trackBy: trackByFn;
">    <p>{{ item.name }}</p>
<p>index - {{ i }}</p>
<p>count - {{ c }}</p>
<p>first - {{ f }}</p>
<p>last - {{ l }}</p>
<p>even - {{ e }}</p>
<p>odd - {{ o }}</p></ng-container>


<input #name type="text">

<button (click)="addNewName(name.value)">Add name</button> -->
<!-- 
<ul>
<ng-container *ngIf="itens.length === 0; else itensExist">
    <li>Não contém valores</li>
</ng-container>
<ng-template #itensExist>
    <ng-container *ngFor="let item of itens">
        <li>{{ item.name }}</li>
    </ng-container>
</ng-template>
</ul> -->

<ng-container [ngSwitch]="switchConsition">
    <ng-container *ngSwitchCase="'A'">
        <p>Sim sua letra é: A</p>
    </ng-container>
    <ng-container *ngSwitchCase="'B'">
        <p>Sim sua letra é: B</p>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <p>Os dados não foram encontrados</p>
    </ng-container>
</ng-container>
